<li>
  <%= gravatar_for_restaurant restaurant, size: 50 %>
  <%= link_to restaurant.name, restaurant %>
  <h6>Rating: <%= restaurant.average_rating %></h6>
  <% if current_user.admin? %>
    | <%= link_to "delete", restaurant, data: { "turbo-method": :delete,
                                          turbo_confirm: "You sure?" } %>
  <% end %>
</li>