@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #f2f2f2;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 10px;
    background: white;
    border: 2px solid #f2f2f5;
    border-radius: 12px;
    padding: 5px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  justify-content: space-evenly;
  background-color: #f2f2f2;
  margin-top: 10px;
  border: 2px solid #f2f2f5;
  border-radius: 12px;
  text-align: center;
  div {
    text-align: center;
  }
  a {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    display:inline-block;  
    color: gray;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Sign up */

#sign-up-word {
  font-size: 2.3em;
}

#sign-up-desc {
  font-size: 1em;
  color:grey;
}

#sign-up-line {
  height:1px;
  border-width:0;
  color:lightgrey;
  background-color:lightgrey
}

/* Log in */

#login-row {
  padding: 2em;
  margin: 2em;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding-top: 5px;
    padding-bottom: 10px;
    width: 600px;
    margin: 5px;
    background-color: white;
    border: 2px solid #f2f2f5;
    border-radius: 12px;
  }
  .user {
    margin-top: 10px;
    padding-top: 0;
  }
  .rating {
    margin-top: 2px;
    display: block;
    font-size: 20px;
  }
  .content {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    img {
      display: block;
      width: 585px;
      height: 400px;
      object-fit: fill;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 50%;
  }
  .like-unlike {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* micropost form */

.micropost_form {
  p {
    font-size: 1.2em;
    text-align: center;
  }
  hr {
    margin: 10px;
  }
  border: 2px solid #f2f2f5;
  border-radius: 12px;
  background-color: white;
  padding: 15px;
}

/* Follow Form */
#follow_form {
  margin-top: 5px;
}